/* Your CSS here. */
.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 20px;
    margin: auto;
    background-color: aqua;
    justify-content: center;
}

.profile-image {
    height: 150px;
    width: 150px;
}

.card p {
    width: 70vw;
}

.color-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
}

.color-buttons button {
    margin: 10px;
    cursor: pointer;
}